@model animeAlley.Models.Topicos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Topicos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="titulo" class="control-label"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comentario" class="control-label"></label>
                <input asp-for="comentario" class="form-control" />
                <span asp-validation-for="comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataPost" class="control-label"></label>
                <input asp-for="dataPost" class="form-control" />
                <span asp-validation-for="dataPost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="utilizadorId" class="control-label"></label>
                <input asp-for="utilizadorId" class="form-control" />
                <span asp-validation-for="utilizadorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comentariosID" class="control-label"></label>
                <input asp-for="comentariosID" class="form-control" />
                <span asp-validation-for="comentariosID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
