<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body class="pbody">
    <header>
        <div class="puser_img">
            <img src="profile-placeholder.png" alt="User Profile" />
        </div>
        <input type="text" class="search-bar" placeholder="Procurar" />
    </header>

    <div class="content">
        <div class="section">
            <h2>A assistir</h2>
            <div>
                <div class="card_area">
                    <div class="card">
                        <img src="anime-placeholder.png" alt="Anime Placeholder" />
                        <h3>Nome do Anime</h3>
                        <p>Descrição breve do anime.</p>
                    </div>
                    <div class="card">
                        <img src="anime-placeholder.png" alt="Anime Placeholder" />
                        <h3>Nome do Anime</h3>
                        <p>Descrição breve do anime.</p>
                    </div>
                    <!-- Quando for necessário adicionar mais div para mais cards aparecerem -->
                </div>
            </div>
        </div>

        <div>
            <h2>Completo</h2>
            <div>
                <div class="card_area">
                    <div class="card">
                        <img src="anime-placeholder.png" alt="Anime Placeholder" />
                        <h3>Nome do Anime</h3>
                        <p>Descrição breve do anime.</p>
                    </div>
                    <div class="card">
                        <img src="anime-placeholder.png" alt="Anime Placeholder" />
                        <h3>Nome do Anime</h3>
                        <p>Descrição breve do anime.</p>
                    </div>
                    <!-- Quando for necessário adicionar mais div para mais cards aparecerem -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
