@model animeAlley.Models.Shows

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Shows</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sinopse" class="control-label"></label>
                <input asp-for="sinopse" class="form-control" />
                <span asp-validation-for="sinopse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipo" class="control-label"></label>
                <select asp-for="tipo" class="form-control"></select>
                <span asp-validation-for="tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <select asp-for="status" class="form-control"></select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="avaliação" class="control-label"></label>
                <input asp-for="avaliação" class="form-control" />
                <span asp-validation-for="avaliação" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ano" class="control-label"></label>
                <input asp-for="ano" class="form-control" />
                <span asp-validation-for="ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imagem" class="control-label"></label>
                <input asp-for="imagem" class="form-control" />
                <span asp-validation-for="imagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trailer" class="control-label"></label>
                <input asp-for="trailer" class="form-control" />
                <span asp-validation-for="trailer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="views" class="control-label"></label>
                <input asp-for="views" class="form-control" />
                <span asp-validation-for="views" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fonte" class="control-label"></label>
                <select asp-for="fonte" class="form-control"></select>
                <span asp-validation-for="fonte" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_Anime" /> @Html.DisplayNameFor(model => model.is_Anime)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="estudio" class="control-label"></label>
                <input asp-for="estudio" class="form-control" />
                <span asp-validation-for="estudio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="autor" class="control-label"></label>
                <input asp-for="autor" class="form-control" />
                <span asp-validation-for="autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="personagens" class="control-label"></label>
                <input asp-for="personagens" class="form-control" />
                <span asp-validation-for="personagens" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="generos" class="control-label"></label>
                <input asp-for="generos" class="form-control" />
                <span asp-validation-for="generos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
