@model IEnumerable<animeAlley.Models.Personagem>

@{
    ViewData["Title"] = "Personagens";
}

<div class="py-5 container">

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <div class="show-grid-container">
        @foreach (var item in Model)
        {
            <div class="show-grid-item">
                <a asp-action="Details" asp-route-id="@item.Id">
                    <img src="~/images/personagensFoto/@item.Foto" alt="@item.Nome" title="@item.Nome" height="100px" />
                </a>
            </div>
        }
    </div>
</div>