@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="min-vh-100 container m-auto py-5">
    <div>
        <h1 class="mb-3 fw-bold">Configurações</h1>
        <hr />
        <div class="row gap-4">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-8 navbar-animeAlley-bg p-4" style="border-radius: 0.4rem; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}

