@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<style>
    #access-denied {
        margin-top: 1rem;
    }
    #access-denied-submit {
        margin-top: 1rem;
    }
    #access-denied-form {
        margin-top: 1rem;
    }
    #access-denied-logout {
        margin-top: 1rem;
    }
    #access-denied-logout-link {
        margin-top: 1rem;
    }
</style>

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
