@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<style>
    #confirm-email { margin-top: 1rem; }
    #confirm-email-submit { margin-top: 1rem; }
    #confirm-email-form { margin-top: 1rem; }
    #confirm-email-logout { margin-top: 1rem; }
    #confirm-email-logout-link {
        margin-top: 1rem;
    }
    </style>

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
