@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmado!";
}

<div class="min-vh-100 d-flex align-items-center  py-5 flex-column">
    <h1 class="fw-bold">Email Confirmado! <img src="~/img/iconAnimeAlley.svg" alt="Alternate Text" /></h1>
    <p class="text-muted">
        Obrigado por se registar no animeAlley! :)
    </p>
</div>

