@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}
<style>
    #confirm-email-change { margin-top: 1rem; }
    #confirm-email-change-submit { margin-top: 1rem; }
    #confirm-email-change-form { margin-top: 1rem; }
    #confirm-email-change-logout { margin-top: 1rem; }

    #confirm-email-change-logout-link {
        margin-top: 1rem;
    }
</style>

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
