@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<style>
    #forgot-password-confirmation {
 -->
        margin-top: 1rem;
 -->
    }
 -->
    #forgot-password-submit {
 -->
        margin-top: 1rem;
 -->
    }
 -->
    #forgot-password {
 -->
        margin-top: 1rem;
 -->
    }
 -->
    #resend-confirmation {
 -->
        margin-top: 1rem;
 -->
    }
    -->
</style>

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
