@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}
<style>
    #lockout {
        margin-top: 1rem;
    }
    #lockout-submit {
        margin-top: 1rem;
    }
    #forgot-password {
        margin-top: 1rem;
    }
    #resend-confirmation {
        margin-top: 1rem;
    }
</style>

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
