@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}
<div class="min-vh-100">
    <div class="row container pt-5 m-auto">
        <div class="col-lg-6 navbar-animeAlley-bg m-auto p-4 form-card" style="border-radius: 0.4rem;">
            <form id="account" method="post">
                <h1 class="mb-5 text-center">Login</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-4">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-4">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-4">
                    <label asp-for="Input.RememberMe" class="form-label d-flex align-items-center pointer-event">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        <span class="custom-checkbox-box"></span> @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
                <p class="mt-2">
                    <a id="forgot-password" asp-page="./ForgotPassword">Não sabe qual é a sua password?</a>
                </p>
                <div class="mt-5 mb-3">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="info-help">Não tem conta? <span>Registra-te já!</span></a>
                </div>
                <p class="mt-2 text-muted">
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="">Renviar a confimação do mail</a>
                </p>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
