@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmar Conta";
}

<style>
</style>

<div class="min-vh-100 d-flex align-items-center  py-5 flex-column">
    <h1 class="fw-bold">Confirme sua conta! <img src="~/img/iconAnimeAlley.svg" alt="Alternate Text" /></h1>
    <p class="text-muted">
            Por favor, verifique seu E-mail para confirmar sua conta!
    </p>
    }
</div>

