@using Microsoft.AspNetCore.Identity
@using animeAlley.Services
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject UtilizadorService UtilizadorService
@{
    var nomeUtilizador = await UtilizadorService.GetNomeUtilizadorAsync();
    var fotoUtilizador = await UtilizadorService.GetFotoUtilizadorAsync();
    var idUtilizador = await UtilizadorService.GetIDUtilizadorAsync();
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <div class="dropdown d-flex justify-content-center align-items-center flex-row gap-3">
                <a class="nav-link text-dark p-0" asp-controller="Utilizadores" asp-action="Details" asp-route-id="@idUtilizador">
                    @nomeUtilizador
                </a>
                <a class="nav-link dropdown-toggle d-flex align-items-center p-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none;">
                    <img src="@fotoUtilizador" alt="Avatar" class="avatar" />
                </a>
                <!-- Adicionadas classes responsivas -->
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start dropdown-menu-responsive" aria-labelledby="navbarDropdown" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
                    <li>
                        <a class="dropdown-item d-flex align-items-center justify-content-center" asp-area="Identity" asp-page="/Account/Manage/Index">
                            Configurações
                        </a>
                    </li>
                    <li><hr></li>
                    <li>
                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" class="m-0 dropdown-item">
                            <button type="submit" class="text-center p-0" style="border: none; background: none; width: 100%;">
                                Sair
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>