@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: "Krona One", sans-serif;
    color:#C4AEAE;
}

p, span, a, li {
    font-family: "Inter", sans-serif;
}

.navbar-animeAlley-bg {
    background-color: #2A1D1D;
}

.navbar-animeAlley {
}

.navbar-animeAlley a {
    color: #C4AEAE !important;
    transition: all 0.2s ease-in-out;
}

.navbar-animeAlley a:hover {
    color: #eee !important;
    transition: all 0.2s ease-in-out;
}

.container {
    max-width: 1600px;
}

.bg-primary {
    background-color: #1D1616 !important; 
}

.rememberme {
    color: #C4AEAE;
}

a {
    color: #C4AEAE;
    text-decoration: none;
}

.button {
    background-color: #ebd1d1;
}
