@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: "Krona One", sans-serif;
    color: #eee;
}

p, a, li, label {
    font-family: "Inter", sans-serif;
    color: #eee;
}

span {
    font-family: "Inter", sans-serif;
}

.navbar-animeAlley-bg {
    background-color: #2A1D1D;
}

.navbar-animeAlley {
}

.navbar-animeAlley a {
    color: #C4AEAE !important;
    transition: all 0.2s ease-in-out;
}

.navbar-animeAlley a:hover {
    color: #eee !important;
    transition: all 0.2s ease-in-out;
}

.container {
    max-width: 1600px;
}

.bg-primary {
    background-color: #1D1616 !important; 
}

.bg-secondary {
    background-color: #3D3030 !important;
}

.text-white {
    color: #EEEEEE;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 0.1rem;
}

.form-control {
    padding: 0.8rem 1rem;
    background-color: #3D3030;
    border: none;
    outline: none;
    color: #eee;
}

.form-control:focus {
    padding: 0.8rem 1rem;
    background-color: #3D3030;
    border: none;
    outline: none;
    color: #eee;
    box-shadow: 0px 0px 5px 5px rgba(216,64,67,0.1);
}

.text-danger {
    color: #D84043 !important;
}

.btn {
    padding: 0.8rem 1rem;
}

.btn-primary {
    background-color: #409ED8 !important;
    border: none;
    outline: none;
}

.show-grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
    justify-items: center;
}

.show-grid-item {
    display: inline-block;
    cursor: pointer;
    height: 265px;
    position: relative;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 0px 0px #D84043;
    border: 3px solid transparent;
    transition: 0.2s ease all;
    border-radius: 0.4rem;
}

.show-grid-item:hover {
    box-shadow: 0px 0px 15px #D84043;
    border: 3px solid #D84043;
}

.show-grid-item:hover img {
    transform: scale(1.1);
}

.show-grid-item img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    transition: 0.2s ease all;
}

.score {
    background: rgba(0, 0, 0, 0.5);
    color: #f1f4f2;
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem;
    opacity: 0;
    transition: 0.2s ease all;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.score::before {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 0.5rem;
    background: url("../img/star.svg") no-repeat;
}

.show-grid-item:hover .score {
    opacity: 1;
}

.show-banner {
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.show-banner-shadow {
    background: linear-gradient(0deg,rgba(61, 48, 48, .65) 0%, rgba(237, 221, 83, 0) 100%);
    height: 100%;
    width: 100%;
}

.show-header {
    display:flex;
    justify-content: right;
    align-content: center;
    position: relative;
    padding: 1.2rem;
    height: 240px;
}

.show-cover {
    position: absolute;
    left: 0;
    top: -160px;
    width: 230px;
}

.show-cover a {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #59D840;
    padding: 6px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #3D3030;
    font-size: 1.05rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.show-cover .cover {
    display: inline-block;
    cursor: pointer;
    height: 325px;
    position: relative;
    overflow: hidden;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    border-radius: 0.4rem;
    margin-bottom: 15px;
}

.show-cover .cover img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}

.show-sinopse {
    height: auto;
    margin: auto 0;
    max-width: 1300px;
}

.show-sinopse h2 {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;
}

.show-sinopse p {
    color: #C4AEAE;
    line-height: 1.6rem;
    line-break: auto;
    font-size: 0.9rem;
    margin: 0;
}

.show-content {
    display: grid;
    grid-template-columns: clamp(180px, 25%, 230px) 1fr;
}

.show-info {
    padding: 1.2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px
}

.show-info .data {
    position: relative;
}

.show-info .data h3 {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 2px;
    font-weight: normal;
}

.show-info .data:before {
    content: "" ;
    display: inline-block;
    position: absolute;

    width: 2px;
    height: 100%;
    left: -5px;
    background-color: #C4AEAE;
    border-radius: 50%;
} 

.show-info .data p {
    font-size: 0.8rem;
    color: #C4AEAE;
    margin: 0;
}

@media (max-width: 100rem) {
    .show-grid-container {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media (max-width: 85rem) {
    .show-grid-container {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 70rem) {
    .show-grid-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 60rem) {
    .show-grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 50rem) {
    .show-grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 40rem) {
    .show-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}